/* ==================================================================
FOOTER
================================================================== */
#footer
{
	background-color: @brand-primary;
    color: @white;

    padding-top: 55px;
    padding-bottom: 80px;

    .navbar-brand
    {
        padding: 0;
    }
}