/* ==================================================================
HEADER
================================================================== */
#header
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-height: 295px;
    background-color: #0d0e0b;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;

    .navbar-wrapper + .container
    {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;


        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        align-items: flex-end;

        // justify-content: center;

        > .row
        {
            .item-notice
            {
                @media (min-width: 1200px)
                {
                    width: 45.834%;
                }

                @media (max-width: 1199px)
                {
                    width: 45.666667%;
                }

                @media (max-width: 1100px)
                {
                    width: 50%;

                    .inner
                    {
                        padding-left: 3em;
                        padding-right: 3em;
                    }
                }

                &.col-md-offset-1
                {
                    @media (max-width: 1100px)
                    {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .title-default
    {
        font-size: ceil((@font-size-base * 5.0));
        margin-bottom: .5em;
        margin-left: 70px;
    }
}

// HEADER HOME
.main
{
    #header
    {
        min-height: 100vh;
        background-color: transparent;

        .navbar-wrapper + .container
        {
            justify-content: center;

            > .row
            {
                margin-bottom: 5em;
            }
        }

        .item-notice
        {
            h3
            {
                @media (max-width: 1199px)
                {
                    font-size: ceil((@font-size-base * 2.4));
                    height: 60px;
                }

                @media (max-width: 1100px)
                {
                    height: 35px;
                }
                @media (max-width: 768px)
                {
                    height: auto;
                    overflow: inherit;
                }
            }
            p
            {
                height: 56px;
                overflow: hidden;
                @media (max-width: 1199px)
                {
                    height: 70px;
                }
            }

            img
            {
                @media (max-width: 1100px)
                {
                    &.img-lg
                    {
                        display: none;
                    }
                }
            }
        }
    }
}