/* ==================================================================
HEADER
================================================================== */
#header
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-height: 295px;
    background-color: #0d0e0b;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;

    .navbar-wrapper + .container
    {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;


        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        align-items: flex-end;

        // justify-content: center;

        > .row
        {
            .item-notice
            {
                @media (min-width: 1200px)
                {
                    width: 45.834%;
                }
            }
        }
    }

    .title-default
    {
        font-size: ceil((@font-size-base * 5.0));
        margin-bottom: .5em;
        margin-left: 70px;
    }
}

// HEADER HOME
.main
{
    #header
    {
        min-height: 100vh;
        background-color: transparent;

        .navbar-wrapper + .container
        {
            justify-content: center;

            > .row
            {
                margin-bottom: 5em;
            }
        }
    }
}