/* ==================================================================
MENU
================================================================== */
// @link-nav:         #ffffff;
// @border-nav:       #515151;
// @height-nav:       42px;

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper
{
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
    z-index: 20;

    /* Flip around the padding for proper display in narrow viewports */
    > .container
    {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar
    {
        .container
        {
            width: auto;
        }
    }

    .navbar-header
    {
        .navbar-brand
        {
            // background-color: @white;
            height: auto;
            padding: 0;
            display: block;

            img
            {
                width: 100%;
            }

            @media (max-width: 1200px)
            {
                max-width: 350px;
            }

            @media (max-width: 1100px)
            {
                max-width: 275px;
            }

            @media (max-width: 768px)
            {
                max-width: 175px;
            }
        }
    }

    #navbar
    {
        min-height: 100%;
        ul.nav
        {
            li
            {
                a
                {
                    &:hover
                    {
                        background-color: transparent;
                    }
                }
            }

            &.nav_top
            {
                height: 115px;
                padding-left: 1%;


                li
                {
                    height: 100%;
                    margin-left: 1em;
                    margin-right: 1em;

                    ul
                    {
                        background-color: @brand-primary;
                        // display: block;
                        top: 80%;
                        li
                        {
                            margin-left: .5em;
                            margin-right: .5em;

                            &:last-child
                            {
                                a,
                                a:hover
                                {
                                    border: none;
                                }
                            }

                            a
                            {
                                color: @white;
                                line-height: 3em;
                                padding: 0 .5em;
                                border-bottom: solid 1px @white;
                                &:hover
                                {
                                    color: rgba(255, 255, 255, .8);
                                    border-bottom: solid 1px @white;
                                }
                            }
                        }
                    }

                    &:hover
                    {
                        ul
                        {
                            display: block;
                        }
                    }

                    &.active
                    {
                        a
                        {
                            border-bottom: solid 2px @brand-primary;
                            cursor: default;
                            &:hover
                            {
                                border-bottom: solid 2px @brand-primary;
                            }
                        }
                    }
                    a,span
                    {
                        color: @white;
                        text-transform: uppercase;
                        padding: 0 .4em;
                        display: block;
                        height: 100%;
                        max-height: 88px;

                        line-height: 8em;
                        font-size: 120%;

                        @media (max-width: 1200px)
                        {
                            max-height: 77px;

                            line-height: 7em;
                            font-size: 100%;
                        }

                        @media (max-width: 1100px)
                        {
                            max-height: 60px;

                            line-height: 6em;
                        }

                        &:hover
                        {
                            border-bottom: solid 2px @gray-lighter;
                        }
                    }

                    span
                    {
                        &:hover
                        {
                            border-bottom: solid 2px transparent;
                        }
                    }
                }
            }

            &.nav_lang
            {
                padding-top: 50px;

                @media (max-width: 1199px)
                {
                    padding-top: 42px;
                }

                @media (max-width: 1100px)
                {
                    padding-top: 28px;
                }
                li
                {
                    margin-left: 15px;

                    -webkit-filter: grayscale(10);
                    filter: grayscale(10);
                    a
                    {
                        padding: 0;
                    }

                    &.active
                    {
                        opacity: 1;

                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                    }
                }
            }
        }
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */
    @media (min-width: 768px) {
        .container
        {
            padding-right: 15px;
            padding-left: 15px;
        }
        .navbar
        {
            padding-right: 0;
            padding-left: 0;
            border-radius: 4px;
        }
    }

}


// FOOTER NAV
.nav_bottom
{
    li
    {
        + li
        {
            margin-top: 0;
        }
        a
        {
            color: @white;
            padding: 4px 0;
            border-radius: 0;

            &:hover
            {
                background-color: transparent;
                text-decoration: underline;
            }

        }
    }

    ul
    {
        list-style-type: none;
        padding-left: 30px;
        li
        {
            &:before
            {
                content: ">>";
                margin-right: 4px;
            }
            .fw-thin;
        }
    }
}


.main
{
    .navbar-wrapper
    {
        #navbar
        {
            min-height: 100%;
            ul.nav
            {
                li
                {
                    a,span
                    {
                        color: @brand-primary;

                        &:hover
                        {
                            border-bottom: solid 2px @brand-primary;
                        }
                    }

                    span
                    {
                        &:hover
                        {
                            border-bottom: solid 2px transparent;
                        }
                    }
                }
            }
        }
    }
}


.equipe
{
    .navbar-wrapper
    {
        .navbar-header
        {
            .navbar-brand
            {
                background-color: @white;
            }
        }
    }
}