/* ==================================================================
IMAGENS
================================================================== */
.img-type01
{
    position: relative;
    img
    {
        width: 100%;
    }
    figcaption
    {
        position: absolute;
        bottom: 0;
        left: 0;

        background-color: @brand-primary;

        padding: 2em;
        display: block;
        width: 100%;

        h4
        {
            color: @white !important;
            margin: 0 !important;
            font-size: ceil((@font-size-base * 2.4)) !important;
        }

        h5
        {
            color: @white;
            font-size: ceil((@font-size-base * 2.0));
        }


    }
}

.img-md
{
    display: none;
    @media (max-width: 1100px)
    {
        display: block;
    }
}