/* ==================================================================
LISTAS
================================================================== */
.list-news
{
    padding-left: 70px;
    list-style-type: none;

    li
    {
        font-size: ceil((@font-size-base * 2.0));
        border-bottom: solid 1px @gray-lighter;

        &:last-child
        {
            border: none;
        }
        a
        {
            padding: 25px 0;
            display: block;
            color: @text-color;
            .fw-light;


            &:hover
            {
                text-decoration: none;
                color: @brand-primary;
            }
        }
    }
}

.list-nomes
{
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    list-style-type: none;
    &:after,
    &:before
    {
        content: " ";
        display: table;
        line-height: 0;
    }
    &:after
    {
        clear: both;
    }
    li
    {
        position: relative;

        width: 41.66666667%;

        float: left;

        font-size: ceil((@font-size-base * 2.4));
        min-height: 1px;

        padding: 5px 15px;

        @media (max-width: 1200px)
        {
            font-size: ceil((@font-size-base * 2));
        }

        @media (max-width: 991px)
        {
            width: 100%;
        }

        a
        {
            color: @text-color;
            .fw-light;
        }
    }
}