/* ==================================================================
Page: EQUIPE
================================================================== */
.equipe
{
    section
    {
        &.equipe-fundador
        {

            background-repeat: no-repeat;
            background-position: top center;
            background-size: auto 100%;

            .container
            {
                min-height: 580px;
            }

            .title-type01
            {
                color: @white;
                margin-top: 1em;
            }

            + section
            {
                margin-top: 8em;
            }

            .info
            {
                div
                {
                    margin-left: 70px;

                    h2
                    {
                        font-size: ceil((@font-size-base * 3.0));
                        font-family: @font-family-secundary;
                        text-transform: uppercase;
                        .fw-light;
                        color: @white;
                        margin-bottom: .4em;
                    }
                    p
                    {
                        font-size: ceil((@font-size-base * 1.4));
                        font-family: @font-family-secundary;
                        color: @white;
                    }
                    .btn
                    {
                        font-size: ceil((@font-size-base * 2.0));
                        min-width: 200px;
                        text-align: left;
                        .ico
                        {
                             background-size: 70% auto;
                             top: 19px;
                        }
                    }
                }
            }
        }

        *
        {
            font-family: @font-family-secundary;
            .fw-thin;
        }

        .row + .row
        {
            margin-top: 8em;
        }

        + footer
        {
            margin-top: 22em;
        }

        .title-type01
        {
            margin-bottom: 1.3em;
        }

        .center-col
        {
            margin-top: -15px;
            [class^="col-"]
            {
                padding: 15px;
            }
        }

        .list-nomes
        {
            li
            {
                text-transform: uppercase;
            }
        }

        .img-type01
        {
            cursor: pointer;
        }
    }

}
