/* ==================================================================
Page: EQUIPE
================================================================== */
.equipe
{
    section
    {
        &.equipe-fundador
        {

            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;

            .container
            {
                min-height: 580px;

                background-repeat: no-repeat;
                background-position: right bottom;
                @media (max-width: 668px)
                {
                    background-position: -220px bottom;
                }
            }

            .title-type01
            {
                color: @white;
                margin-top: 1em;
            }

            + section
            {
                margin-top: 8em;

                @media (max-width: 668px)
                {
                    margin-top: 4em;
                }
            }

            .info
            {
                div
                {
                    margin-left: 70px;
                    max-width: 80%;
                    @media (max-width: 668px)
                    {
                        padding-left: 160px;
                        max-width: 100%;
                        margin-left: 0;
                    }


                    h2
                    {
                        font-size: ceil((@font-size-base * 3.0));
                        // font-family: @font-family-secundary;
                        text-transform: uppercase;
                        .fw-light;
                        color: @white;
                        margin-bottom: .4em;

                        @media (max-width: 668px)
                        {
                            font-size: ceil((@font-size-base * 2.2));
                        }
                    }
                    p
                    {
                        font-size: ceil((@font-size-base * 1.4));
                        // font-family: @font-family-secundary;
                        color: @white;
                    }
                    .btn
                    {
                        font-size: ceil((@font-size-base * 2.0));
                        min-width: 200px;
                        text-align: left;

                        @media (max-width: 668px)
                        {
                            min-width: 100%;
                            margin-bottom: 15px;

                            padding-left: 0;
                            padding-right: 0;

                            text-align: center;
                        }
                        .ico
                        {
                             background-size: 70% auto;
                             top: 19px;
                        }
                    }
                }
            }
        }

        *
        {
            // font-family: @font-family-secundary;
            // .fw-light;
        }

        .row + .row
        {
            margin-top: 8em;
            @media (max-width: 668px)
            {
                margin-top: 0;
            }
        }

        .item-atuacao
        {
            @media (max-width: 668px)
            {
                margin-top: 4em !important;
            }
        }

        + footer
        {
            margin-top: 22em;
            @media (max-width: 668px)
            {
                margin-top: 4em;
            }
        }

        .title-type01
        {
            margin-bottom: 1.3em;
        }

        .center-col
        {
            margin-top: -15px;
            [class^="col-"]
            {
                padding: 15px;
            }
        }

        .list-nomes
        {
            margin-bottom: 40px;
            &:last-child
            {
                margin-bottom: 0;
            }
            li
            {
                text-transform: uppercase;
            }
        }

        .img-type01
        {
            cursor: pointer;
        }
    }

}
